body{
    margin: 0px;
    padding: 0px;
    overflow: auto;
    overflow-x: hidden;
}

.web_header{
    overflow: hidden;
    position: fixed;
    background-color: #52cfed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
}

.web_content{
    background-color: #52cffb;
    border-bottom: 3px solid #149bdf;
    height: 70px;
}

.outer{
    position: fixed;
    margin-top: 45px;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: auto;
}

.body{
    height: 200px;
}

.wrapper{
    height: 200px;
    width: 830px;
}

.inner_body{
    padding-top: 30px;
    height: auto;
    width: 830px;
}

.header{
    height: 60px;
}

.inner-header{
    width: 900px;
    height: 45px;
}

.div_webTitle{
    height: 45px;
}

.WebTitle{
    float: left;
    padding-top: 5px;
    padding-left: 2px;
}

.WebTitle a{
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    cursor: pointer;
}

.WebTitle a:hover{
    color: white;
    font-size: 15px;
    text-shadow: 0px 0px 25px white;
    text-decoration: none;
    font-weight: bold;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
    cursor: pointer;
}

.error_login{
    border: solid 1px;
    padding: 10px;
    width: 100px;
    margin: 0 auto;
}

.error_login span{
    color: red;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    font-family: Nimbus Sans L, helvetica, segoe;
}

.sign_upLink{
    text-decoration: none;
    font-family: Nimbus Sans;
    font-size: 13px;
    color: black;
}

#sign_upLink{
    font-family: Nimbus Sans;
    font-size: 13px;
    color: black;
}

#sign_upLink:hover{
    font-family: Nimbus Sans;
    font-size: 13px;
    color: black;
    text-decoration: underline;
}

.div_sign{
    float: right;
    width: auto;
    margin-top: 35px;
    padding: 10px;
}

.div_sign span{
    color: white;
    font-size: 10px;
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
}

/* Preloader */
.preloader {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: white; /* change if the mask should have another color then white*/
    z-index: 10000; /* makes sure it stays on top */
}

#status {
    width:33px;
    height:33px;
    position:absolute;
    left:55%; /* centers the loading animation horizontally one the screen */
    top:20%; /* centers the loading animation vertically one the screen */
    background-image:url(../images/ajax-loader.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

.loader{
    color: black;
    margin-right: 3px;
    font-size: 14px;
    font-weight: normal;
    font-family: Nimbus Sans L, helvetica, segoe, serif;
}
.div_wrapper_login{
    padding: 3px;
    margin-bottom: 2px;
}

.lab_login{
    color: black;
    font-family: Nimbus Sans;
    font-size: 15px;
    font-weight: bold;
}